Django>=5.2,<5.3
djangorestframework>=3.18,<3.19
channels>=4.2,<5
channels-redis>=4.2,<5
celery>=5.5,<6
redis>=6,<7
psycopg[binary]>=3.2,<4
python-dotenv>=1.1,<2
whitenoise>=6.9,<7
gunicorn>=23,<24
daphne>=4.2,<5
requests>=2.32,<3
